.container {
  margin-top: 1.2rem;
}

.container input,
.container ::-webkit-input-placeholder {
  color: rgb(253, 253, 253) !important;
}
.container input:focus {
  background-color: transparent;
  box-shadow: none !important;
  border: none;
  border-bottom: 2px solid rgb(110, 195, 235);
}
.button{
  color: rgb(7, 7, 49);
}
